<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h2 v-if="score>=60">及格</h2>
        <h2 v-else>不及格</h2>
        <hr>
        <h2 v-if="score>=90">优秀</h2>
        <h2 v-else-if="score>=80">良好</h2>
        <h2 v-else-if="score>=60">及格</h2>
        <h2 v-else>不及格</h2>
        <hr>
        <!-- 一般不使用v-if and v-else-if and v-else，推荐这种复杂的运算不在div中进行，而是放到计算属性中 -->
        <h2>{{result}}</h2>
    </div>
    <script src="../js/vue.js"></script>
    <script>
        const app = new Vue({
            el:'#app',
            data:{
                message:'v-if、v-else-if、v-else条件判断标签使用',
                score:80
            },
            computed:{
                result(){
                    let level=''
                    if(this.score>=90){
                        level='优秀'
                    }else if (this.score>=80){
                        level='良好'
                    }else if(this.score>=60){
                        level='及格'
                    }else{
                        level='不及格'
                    }
                    return level
                }
            }
        })
    </script>
</body>
</html>