<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <div v-if="books.length > 0">
            <table>
                <thead>
                    <tr>
                        <th>书籍名称</th>
                        <th>出版日期</th>
                        <th>价格</th>
                        <th>购买数量</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item,index) in books">
                        <th>{{item.name}}</th>
                        <th>{{item.date}}</th>
                        <th>{{item.price | showPrice}}</th>
                        <th>
                            <!-- 当数量小于2时，减号按钮不能点击，大于1时才可以点击 -->
                            <button @click="decrement(index)" :disabled="item.count <= 1">-</button>
                                {{item.count}}
                            <button @click="increment(index)">+</button>
                        </th>
                        <th>
                            <button @click="remove(index)">移除</button>
                        </th>
                    </tr>
                </tbody>
            </table>
            <h2>总共价格:{{totalPrice3 | showPrice}}</h2>
            <hr>
            <h2>高阶函数filter使用练习:{{totalPrice4}}</h2>
            <hr>
            <h2>高阶函数map使用练习:{{totalPrice5}}</h2>
            <hr>
            <h2>高阶函数reduce使用练习:{{totalPrice6}}</h2>
            <hr>
            <h2>高阶函数结合使用练习:{{totalPrice7}}</h2>
            <hr>
            <h2>高阶函数--箭头函数的使用:{{totalPrice8}}</h2>
        </div>
        <h2 v-else>购物车中没有商品！</h2>
    </div>

    <script src="../js/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>